<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Hall of fame for our flagging experts">
    <meta name="author" content="Filnor">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="theme-color" content="#343a40">

    <title>SOBotics Flagger Scoreboard</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='rankoverflow.css') }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Rank Overflow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Main site</a>
            </li>
        </ul>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>SOBotics Flagger Scoreboard</h1>
        <p class="lead">Hall of fame for our flagging experts.</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <table class="table" id="scoreboard">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Flag count</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for score in scores %}
                        <tr>
                            <td>{{ scores.index(score) + 1 }}</td>
                            <td><a href="{{ score['profile_link'] }}">{{ score['username'] }}</a></td>
                            <td>{{ '{:,}'.format(score['flag_count']) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-primary" href="/scoreboard">Show top 10</a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Made by and for the <a href="https://sobotics.org/">SOBotics</a> team. Content provided by the <a href="https://api.stackexchange.com/">Stack Exchange API</a> under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 license</a>.</p>
    </div>
    <!-- /.container -->
</footer>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    $("#show-all").on("click", function () {
        $("tr").removeClass("hidden");
    });
</script>
</body>

</html>
